.footer-distributed{
	box-shadow: 0 50vh 0 50vh #292c2f;
	background-color: #292c2f;

	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 30px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.0;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

@keyframes example {
    from {color: white;}
    to {color: #b3b3ff;}
}

.footer-distributed .footer-right a:hover{
	animation-name: example;
    animation-duration: 1s;
	color: #b3b3ff;
}

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
	display: block;
	margin: auto;
	width: 94px;
    visibility: hidden;
    background-color: #b3b3ff;
    color: #fff;
	font: normal 16px sans-serif;
    text-align: center;
    padding: 5px 0;

	border-color: #8f8fd3;
	border-style: solid;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
