@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:300,400,500,600,700,800,900");

@keyframes example {
    from {color: white;}
    to {color: #b3b3ff;}
}
/* TEXT */
.slct {
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 40px;
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
	display: block;
	color: white;
	text-align: center;
	padding: 26px 30px;
	text-decoration: none;
}

.pts {
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	display: block;
	color: white;
	padding: 26px 30px;
	text-decoration: none;
}

.ftr {
	position: relative;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	display: block;
	color: white;
	text-align: left;
	padding: 26px 30px;
	text-decoration: none;
}

/* NAVIGATION BAR */
ul {
	position: fixed;
	z-index: 1;
	min-width: 525px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.3);
}
li {
	float: right;
}

li a {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	text-shadow: 1px 1px 0 #444;
	display: block;
	color: white;
	text-align: center;
	padding: 26px 30px;
	text-decoration: none;
}
li a:hover {
	animation-name: example;
    animation-duration: 1s;
	color: #b3b3ff;
}
.active {
    color: #b3b3ff;
}

.logo {
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
}

/* CARD BOXES */

.card5x5 {
	float: left; 
	margin-top: 90px; 
	margin-left: 200px;
	position: relative;
	width: 691px;
	border-style: solid;
    border-width: 15px;
	border-color: rgba(0, 0, 0, 0.1);	
	height: 691px;
	background-color: rgba(0, 0, 0, 0.5);
}

.card4x4 {
	float: left; 
	margin-top: 145px; 
	margin-left: 275px;
	position: relative;
	width: 553px;
	border-style: solid;
    border-width: 15px;
	border-color: rgba(0, 0, 0, 0.1);	
	height: 562px;
	background-color: rgba(0, 0, 0, 0.5);
}

.card3x3 {
	float: left; 
	margin-top: 222px; 
	margin-left: 350px;
	position: relative;
	width: 415px;
	border-style: solid;
    border-width: 15px;
	border-color: rgba(0, 0, 0, 0.1);	
	height: 413px;
	background-color: rgba(0, 0, 0, 0.5);
}

/* BACKGROUNDS */

.main_back {
	height: 1000px;
	background-image: url(../img/back/back1.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_back {
	background-image: url(../img/back/back3.jpg);
	background-size: cover;
}

.htu {
	position: relative;
}

.selectables_back {
	margin: auto;
	padding-bottom: 100px;
	background-image: url(../img/back/back2.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slct_images {
	margin: auto; 
	position: relative;
	width: 93%;
	max-width: 1972px;
	border-style: solid;
    border-width: 7px;
	border-color: rgba(0, 0, 0, 0.1);	
	height: 520px;
	background-color: rgba(0, 0, 0, 0.5);
}

.footer {
	position: relative;
	height: 100px;
	margin: 0;
	padding: 0;
	background-color: #282828;
}

.footer2 {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100px;
	margin: 0;
	padding: 0;
	background-color: #282828;
}

.info1 {
	position: relative;
	float: right;
	right: 255px;
	width: 90px;
	height: 90px;
	
}

.ad1 {
	position: relative;
	float: right;
	top: 350px;
	right: 255px;
	width: 450px;
	height: 450px;
	
	border-style: solid;
    border-width: 15px;
	border-color: rgba(0, 0, 0, 0.1);	
	background-color: rgba(0, 0, 0, 0.5);
	
}
	
/* BUTTONS */
.slct_but {
	position: absolute;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
			
.slct_but1 {
	background-color: transparent; 
	color: 4CAF50; 
	border: 6px solid #4CAF50;
}
.slct_but1:hover {
	background-color: #4CAF50;
	color: white;
}

.but_random {
	position: absolute;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 30px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
			
.but_random1 {
	background-color: transparent; 
	color: 4CAF50; 
	border: 6px solid #4CAF50;
}
.but_random1:hover {
	background-color: #4CAF50;
	color: white;
}

.but_red {
	position: absolute;
	background-color: #f24b4b; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
			
.but_red1 {
	background-color: transparent; 
	color: 4CAF50; 
	border: 6px solid #f24b4b;
}
.but_red1:hover {
	background-color: #f24b4b;
	color: white;
}

.copycode {
	position: absolute;
	background-color: #31a2e2; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.copycode1 {
	background-color: transparent; 
	color: 31a2e2; 
	border: 6px solid #31a2e2;
}
.copycode1:hover {
	background-color: #31a2e2;
	color: white;
}